<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir={{ .Site.Language.LanguageDirection }}>

<head>
    {{ partial "docs/html-head" . }}
    {{ partial "docs/inject/head" . }}
    {{- if and (eq .Layout `main`) }}
        {{ partial "base-page-inject/head" . }}
        {{ partial "developers/inject/head" . }}
    {{- else }}
        {{ partial "developer/inject/head" . }}
        <link href="/css/media-query.css" rel="stylesheet" />
    {{- end }}
</head>

<body>
    {{ template "nav" . }}
    
    {{- if and (eq .Layout `main`) }}
        {{ template "main" . }}
	{{- else }}
        <div class="container-developer">
                <div class="developer m-column-drawer">
                    <div class="developer_left">
                        {{$menuName := "developers"}}
                        {{template "menu" .}}
                    </div>
                    <div class="developer_right">

                        <!-- Page Content -->

                        {{ template "menu-nav" . }}
                        <div class="content m-d-content">
                            {{ template "main" . }}

                        </div>
                    </div>
                </div>
                <div id="dev_fixed_back" class="code_fixed_back">
                    <div class="code_model">
                        <div class="head">
                            <div id="popup_close" class="popup_close"><img src="/img/close.png" /></div>
                        </div>
                        <div class="m_dev_list">
                            {{ partial "docs/menu-filetree" . }}
                        </div>
                    </div>
                </div>
        </div>
    {{- end }}
    {{ template "footer" . }}

</body>

</html>
<script>
window.onload = () => {
		$("#popup_close").click(function () {
			$("#dev_fixed_back").hide()
		});
		
		$(".m-d-title").click(function () {
			$("#dev_fixed_back").show()
		});

		$(".developer_right a").each(function(index, element) {
			if($(this).attr('href').indexOf('http') != -1){
				$(this).attr('target', '_blank')
			}
		})
        
        const href = window.location.href;
        if (href.indexOf('#') !== -1) {
            $('html, body').animate({
                scrollTop: 0
            }, 1)

            let anchor = ''
            let fixTop = 150;
            anchor = href.substring(href.indexOf('#') + 1);
            const anchorElement = document.getElementById(anchor);
            const anchorTop = $(anchorElement).offset().top;
            $('html, body').animate({
                scrollTop: anchorTop - fixTop
            }, 20)
        }
	}
</script>

{{ define "main" }}
    {{- if and (eq .Layout `main`) }}
    {{- .Content -}}
    {{- else }}
    <article class="markdown">
        {{- .Content -}}
    </article>
    {{- end}}
{{ end }}

{{ define "menu" }}
{{ partial "docs/menu" . }}
{{ end }}

{{ define "menu-nav" }}
{{ partial "docs/menu-nav" . }}
{{ end }}

{{ define "nav" }}
{{ partial "docs/nav" . }}
{{ end }}

{{ define "footer" }}
{{ partial "docs/footer" . }}
{{ end }}