/* general */
html {
    box-sizing: border-box;
    
}
*, *::before, *::after {
    box-sizing:inherit;
}
body {
    margin:0;
    background-color: #0a1239 !important;
}
h1, h2, h3, h4, h5, h6, p{
    color:#fff;
}
h2{
    text-align: center;
    font-family: 'unnamedregular';
    font-size:62px;
    line-height:1.2;
    letter-spacing: 3px;
}
h3{
    
    font-family: 'unnamedregular';
    font-size:28px;
    line-height:1.2;
    letter-spacing: 3px;
}
h4{
    
    font-family: 'unnamedregular';
    font-size:22px;
    line-height:1.2;
    letter-spacing: 3px;
}
h5{
    
    font-family: 'unnamedregular';
    font-size:18px;
    line-height:1.2;
    letter-spacing: 1px;
    text-align: center;
}
p{
    font-family: 'proxima_novaregular';
    font-size:16px;
    line-height: 1.4;
    letter-spacing: 1px;
}
.p-copyright {
    line-height: 1.4;
    vertical-align: bottom;
}
.green-text{
    color: rgb(3, 244, 123);
}
.blue-text{
    color: #005dff;
    text-align: center;
    font-size:24px;
}

.transparent-box{
    background: rgba(0, 93, 255, 0.8) !important;
}
.transparent-box-green{
    background: rgba(3, 277, 123, 0.8) !important; 
}
.top{
    margin:1em 0;
}
.flex-box{
    display: flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
.flex-box-icon{
    display: flex;
    flex-flow:row wrap;
}
.flex-box-icon-end{
    display: flex;
    flex-flow:row wrap;
    justify-content: end;
}
.box{
    flex: 1 1 0;
}
.page-wrapper {
    max-width:1200px;
    margin:0 auto;
}
.hidden {
    position:absolute;
    left:-10000px;
    width:1px;
    height:1px;
}
.btns{
    display: block;
    margin: 0 auto;
    background-color: #03f47b;
    text-align: center;
    padding:0.5em 1em;
    border-radius: 35px;
   
}
.btns a{
    text-decoration: none;
    font-family: 'proxima_novabold';
    color:#000f3a;
    font-size:16px;
    letter-spacing: 1px;
    
}
.margin-1 {
    margin-top:1em !important;
    }
.margin-3{
    margin-top:3em !important;
}
.margin-2 {
    margin-top:2em !important;
}
.margin-5{
    margin-top:5em !important;
}
.margin-4{
    margin-top:4em
}
.section-margin{
    margin-top:10em !important;
}
.margin-10{
    margin-top:13em !important;
}
.banner-10{
    margin-top:13em !important;
}
.margin-left-10px{
    margin-left:10px !important;
}
.p-title{
    font-size:20px;
    line-height:1.2;
}
.margin-5-mobile{
    margin-top:5em
}
.down img{
    margin-top:6em !important
}
.icon-text{
    margin-top:3em
}
.icon-text img{
    margin-top:2em
}
.title-p{
    font-size:24px;
    margin:1em 0
}
.side-text{
    margin:0 3em;
}
.col-2-eco{
    margin: 5em 3em
}
