@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 20px 0px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }