.col-2 p{
    color: #03f47b;
    line-height:0.5
}

.right-box h3{
    padding-right:3em
}
.right-box .flex-box-icon h3{
    padding:0 1em
}
.right-box .flex-box-icon{
    justify-content: end;

}
.fifth-section .blue-text{
    font-size: 24px;
}


.side-text{
    margin:0 3em;
  
}
.title-p{
    font-size:24px;
    margin:1em 0
}
.icon-text{
    margin-top:3em
}
.icon-text img{
    margin-top:1em
}

.col-2-eco{
    margin: 5em 3em
}
.col-2-eco h3{
    font-size:42px
}
.col-2-eco a{
    text-decoration: none;
}
