/* 48em = 768px */
  
@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 20px 0px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  @media (max-width: 1240px) {
    
    .box{
        flex:1 1 100% !important;
        align-items: center;
    }
    .community-custom-media {
        margin-left: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .developers-custom-mq-box p{
        text-align: center !important;
    }
    .developers-custom-mq-box h2 {
        text-align: center;
    }
    .green{
        display: block;
        margin: 1em auto;
    }
    .blue{
        display: block;
        margin: 1em auto;
    }
    .four-points{
        width:50%;
        margin:0 auto;
    }
    .green-box{
        margin:0.5em
    }
    .sec-section{
        margin-top: 5em;
    }
    .discovery-banner {
        margin-top: 5em !important;
    }
    .point{
        text-align: center;
    }
    .fourth-section{
        width:90%;
        margin:3em auto;
    }
    .columns{
        text-align: center;
    }
    .fourth-section .btns{
        margin:0 auto;
        float: none;
    }
    .news-letter{
        width:100%
    }

    .ecosystem .blue-text{
        text-align: center !important;
    }
    .ecosystem h2{
        text-align: center;
    }
    .community img{
        display: inline-block;
        margin: 0 auto;
    }
    .news{
        margin:5em
    }

}

@media (max-width: 600px) {
    h2{
        font-size: 28px;
    }
    .page-wrapper{
        padding:1.5em
    }
    /* .btns{
        width:40%
    } */
    .home-custom-btn {
        width: 60%;
    }
    .indiv-custom-btn {
        width: 90% !important;
    }
    .sec-section p{
        padding:0
    }
    .home-page-custom-mq-title {
        text-align: center !important;
    }
    .sec-section h2{
        font-size: 28px;
        text-align: left;
    }
    .fourth-section h2{
        font-size: 28px;
        text-align: left;
    }
    .ecosystem h2{
        font-size: 28px;
    }
    .home-page-slogan {
        text-align: center;
    }
    .banner-title h2{
        font-size: 32px;
    }
    .blue-text{
        text-align: left;
        font-size:18px
    }
    .blue, .green{
        padding:2.5em
    }
    .homepage-ecosystem .transparent-box{
        height: auto;
    }
    .news-letter img{
        display: none;
    }
    .signup-text{
        margin: 0 auto;
    }
    .dapp h5{
        text-align: center;
    }
    .four-points{
        width:85%
    }
    .news p{
        margin-left: 0em;
    }
    .mobile-blue-center{
        text-align: center;
    }
    .mobile-title{
        font-size: 24px !important;
    }
    .hardcore-1{
        order:2
    }
    h3{
        font-size: 24px;
    }
    .margin-5-mobile{
        margin-top:0em
    }
    .mq-reset-margin-top {
        margin-top: 0 !important;
    }
    .sec-section p{

        width:100%
    }
    .custom-discovery-p {
    width: 100% !important;
}
    br {
        display: none;
    }

     .section-margin{
        margin-top:5em !important;
    }
}

@media (max-width: 1240px) {
    .timeline-l{
        margin-left:6em !important
    }
    
    .move .btns{
        float:none;
        margin:2em auto;
    
    }
    .team .box{
        display: block;
        margin:2em auto;
        text-align: center;
    }
    .team-4 p{
        display: block;
        margin:0em auto;
        text-align: center;
    }
    .team-4 h2{
        display: block;
        margin:0em auto;
        text-align: center;
    }
    .team-4 .blue-text{
        display: block;
        margin:0em auto;
        text-align: center;
    }
    .roadmap .box h2{
       text-align: center;
    }
    .roadmap .box p{
        text-align: center;
         padding:0 1em
    }
    .roadmap .box h3{
        text-align: center;
    }
    .roadmap .blue-text p{
        text-align: center;
    }
    .roadmap .btns{
        display: block;
        margin: 3em auto;
        text-align: center;
        float:none;
    }
    .right-box{
        text-align: center;
    }
    .right-box .signup-text{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .right-box h3{
        padding-right:0em
    }
    
}
@media (max-width: 600px) {
    .intro .btns{
        width:80%
    }
    .point .btns{
    }
    .right-box img{
        display: none;
    }
    .intro-mobile{
        margin:0 auto
    }

    .mq-customlink-a {
        margin-left: 0 !important;
    }

    .mq-community-w {
        width: 340px !important;
    }

    .margin-l-5{
        margin-left: 0em;
    }
    .margin-l-2{
        margin-left: 2em;
    }
    .text-r{
        text-align: left;
        margin-left: 0.5em;
    }
    .r-1 img{
        width: 300px;
    }
    .row>*{
        width:50%
    }
    .footer-social{
        width:100%;
        text-align: center;
    }
    .footer-social img{
        margin: 0 auto;
    }
    .margin-10{
        margin-top:5em !important;
    }
    .intro img{
        width:120px;
        margin-top:8em !important;
    }

}

@media (max-width: 1240px) {
   
}
@media (max-width: 600px) {
    .side-text{
        margin:0;
      
    }

    .mobile-margin-2{
        margin-top:2em
    }
     .margin-b{
        margin-bottom:1em;
    }
    .fourth-section-e{
        margin:5em 2em !important;
    }
    .icon-text img{
        margin: 0 !important;
    }
}

@media (max-width: 1240px) {
    .article-i{
        text-align: center;
    }
    .article-i h2{
        text-align: center;
    }
    .individual-custom-box {
        margin: 2em;
        padding: 0;
        width: auto;
    }
    .individual-custom-seemore a{
        margin-left: 0 !important;
    }
    .individual-custom-seemore {
        margin-bottom: 2em;
    }
    .left-p{
        padding-left:3em;
    }
    .col-2-i{
        margin:6em
    }
    .third-section-i .btns{
        display: block;
        margin: 3em auto;
        float: none;
    }
    .hardcore{
        text-align: center;
        display: block;
        margin: 3em auto;
    }
    .mobile-center p{
        text-align: center;
    }
    .mobile-center h2{
        text-align: center;
    }
    .blue-box-i .btns{
        text-align: center;
        float: none;
    }
    .col-4-i .flex-box-icon {
        width: 70%;
        margin: 0 auto
    }
    .fifth-section-i{
        width:90%
    }
    .fifth-section-i a{
        margin-left:3em
    }
    .custom-indi-mq-a {
        margin-left: 0 !important;
    }
    .individual-custom-mq-more {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .individual-custom-mq-more a{
        margin-left: 0;
    }
    .col-2-i{
        margin:7em
    }
    .blue-box-i{
        width:90%;
        margin:3em auto !important
    }
    .green-box-i{
        width:90%;
        margin:3em auto !important
    }
}

@media (max-width: 600px) {
    .col-2-i{
        margin:2em
    }
    .arrows img{
        display: none;
    }
    .indiv-custom-mq-title {
        margin-left: auto;
        margin-right: auto;
    }
    .fifth-section p{
        padding:0;
        font-size: 17px;
    }
    .flex-box img{
        margin:0 auto;
    }
    .individual-custom-icon img {
        margin-bottom: 2em;
    }
    .mobile-left img{
        margin:0
    }
    .sec-section{
        width:90%
    }
    .community-custom-box p{
        text-align: center !important;
    }
    .community-custom-box h2 {
        text-align: center !important;
    }
    .blue-i, .green-i{
        padding: 2em;
    }
    .left-p{
        padding-left: 0;
    }
    .blue-box-i h2{
        font-size:24px;
        margin:1em 0;
    }
    .blue-box-i .btns{
        width:80%
    }
    .blue-box-i{
       margin: 2em auto;
        padding: 2em;
    }
    .green-box-i h2{
        font-size:24px;
        margin:1em 0;
    }
    .green-box-i .btns{
        width:80%
    }
    .green-box-i{
        margin: 2em auto;
        padding: 2em;
    }
    .col-4-i{
        margin-left:-1em
    }
    .hardcore-1 p{
        margin-top:0em;
        padding:1em
    }
    .news{
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    .custom-news-mq {
        width: 90%;
        margin: 0 auto;
    }
    .custom-news-mq h2 {
        text-align: center;
    }
    .custom-news-mq .btns {
        margin: 0 auto;
        margin-top: 0 !important;
        margin-bottom: 20px;
    }
    .custom-news-mq .mobile-left {
        margin-left: 0;
    }
    .custom-news-mq .mobile-left h4 {
        margin-left: 7px;
    }
    .news_bg {
        padding-top: 88px;
    }
    .f-title{
        margin-top:1.5em
    }
    .left-3{
        margin-left:0em
    }
    .fifth-section-i a{
        margin-left:0em
    }
    .fourth-section-i{
        width:85%;
        margin:5em 2em
    }
    .hardcore-1{
        order:2
    }
    .row{
        margin-left: 0.25em;
    }
    .green-box-i .btns{
        float: none;

    }
}

@media (max-width: 1240px) {
    .node-d-3 p{
        text-align: center;
    }
    .third-d .signup-text{
        width:80%
    }
    .node-d{
        width:50%
    }
    .ghost{
        display: none;
    }
    .point {
        margin: 1em 2em;
    }
    .dapp-1 p{
        text-align: center;
    }
    .dapp .btns{
        float: none;
    }
    .terms-2 p{
        text-align: center;
    }
    .terms-2 h2{
        text-align: center;
    }
    .box-30{
        flex: 1 1 0 !important
    }
    .half-box{
        width:80%;
        margin:0 auto;
    }
    
}
@media (max-width: 600px) {
    .node-d-2 img{
        display: none;
    }

    .dapp-1 img{
        display: none;
    }
    .box-30{
        padding:0;
        margin-top:2em
    }
    .node-d-3 p{
        margin-left:0
    }
    .examples img{
        display: none;
    }
    .examples h2{
        text-align: center;
    }
    .examples .blue-text{
        text-align: center !important;
    }
    .node-d{
        width:90%;
        text-align: center;
    }
    .node-d .blue-text{
        text-align: center;
    }
    .node-d h2{
        text-align: center;
    }
    .dapp-2{
        order:-1;
        text-align: center;
    }
    .dapp h2{
        text-align: center; 
    }
    .dapp .blue-text{
        text-align: center; 
    }
    br {
        display: none;
    }
    .third-d .signup-text{
        text-align: center;
    }
    .fifth-section-discovery .blue-text{

        padding-left:0em;

    }
}

@media (max-width: 1240px) {
    .dome-c{
        width:80%;
        margin: 0 auto;

    }
    .grant .blue{
        text-align: center;
        margin:0 5em
    }
    .grant-1 .btns{
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;

    }
    .grant-1 {
        display: block;
        margin: 2em auto;
        text-align: left;
        float: none;
    }
    .dao-2 .blue{
        margin:1em 5em;
        text-align: center;
    }
    .dao-2 .green{
        margin:1em 5em;
        text-align: center;
    }
    .dao-2 .btns{
        width:80%
    }
    .dao-2 h3{
        text-align: center;
    }
    .col-30{
        margin-left:5em
    }
    .branding{
        width:80%
    }
    .community-custom-btn {
        width: 80% !important;
    }

}
@media (max-width: 600px) {
    .grant .blue{
        margin: 1em;
    }
    .branding img{
        display: none;
    }
    .branding h2{
        font-size: 32px;
    }
    .dao-2 .btns{
        width:100%
    }
    .dao-2 .blue{
        margin:1em
    }
    .dao-2 .green{
        margin:1em
    }
    .grant p{
        margin: 0 1em;
    }
     .examples h5{
        text-align: center;
    }
    .examples .margin-5{
        margin-top: 0 !important;
    }
   
     .examples p{
        text-align: center;
    }
    .grant-2{
        order:-1
    }
    .dao h2{
        text-align: center;
    }
    .dao .blue-text{
        text-align: center;
    }
    .social .col-30{
        margin-left:0
    }
}

@media (max-width: 1240px) {
    .glow-c{
        width:60%
    }
    .timeline{
        width:80%;
        margin: 0 auto;
    }
    .col-50-r{
        width:80%
    }
}
@media (max-width: 600px) {
    .glow-c{
        width:100%
    }
    .glow-c h2{
        font-size:28px
    }
    .glow-c h3{
        font-size:18px
    }
    .growth h2{
        font-size:28px
    }
    .banner-title h2{
        font-size:28px;
        text-align: center;
    }
    .developers-slogan-desc p {
        font-size: 16px;
    }
    .growth img{
        display: none;

    }

     .timeline{
        width:95%;
        margin: 0 auto;
    }
    .timeline-l{
        margin-left:2em !important
    }
    .glow-c img{
        display: none;
    }

    .social h2{

        text-align: center;
     }
     .social .blue-text{
        text-align: center;
    }
    .growth-main h2{
        width:100%
    }
    
}

@media (max-width: 600px) {
    ul.tl li .timestamp{
        font-size: 16px;
    }
    ul.tl li .timestamp{
        left:-50%
    }
    .history-tl-container ul.tl li{
        margin-left:70px
    }
     .growth-main p{
        width:100%
    }
    .growth h2{
        text-align: center;
    }
     .history-tl-container ul.tl{
        padding:0.5em
    }
}


/* Media Queries
--------------------------------------------- */
@media all and (max-width : 768px) {
    .flex-box-icon-end{
        justify-content: left;
    }
    
    .top-header{
        padding: 0;
    }
    .header {
        padding:1em 0
    }
    
	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
        margin-top: 2.5em;
	}
    .mobile-center{
        text-align: center;
    }

}



@media all and (max-width : 768px) {
    
    .header-nav>nav {
		top:2.5em
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #000f3a;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000f3a;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000f3a;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #000f3a; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

    .header {
        display: none;
    }

    .header-nav {
        display: none;
    }

    .m_header_top {
        display: none;
    }

    .m_top {
        margin: 0;
    }

    .banner {
        margin-top: 88px !important;
    }

    .visible-xs {
        display: block !important;
    }

    .m_nav_top_bar {
        width: 100%;
        margin: 0 auto;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 88px;
        z-index: 100;
        background: #000f3a;
    }
}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

@media all and (max-width : 768px) {

    .ecosystem .title-p{
        text-align: left;
    }
    .margin-left-10px {
        margin-left:0px !important;
    }
    .roadmap .btns {
    }
}

@media (max-width: 480px) {
    body{
       background-image: url('/images/new/home-mobile.png');
       background-size: cover, contain;  
       
    }

}
