<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
        <title>Roadmap</title>
        
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/52eb7513f8.js" crossorigin="anonymous"></script>
        <script src="js/javascript.js"></script>
    </head>
    <body style="background-image: url('images/roadmap-bg.png');background-repeat: no-repeat;background-size: cover, contain; ">
        <header class="header">
            <div class="top-header">
                <div class="col-lg-12 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <div class="flex-box-icon-end">
                            <a href="#" class="whitepaper">Whitepaper</a>
                            <div class="f_social_icon">
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-telegram"></a>
                                <a href="#" class="fab fa-discord"></a>
                                <a href="#" class="fab"><img src="images/medium-b.png" width="15px"/ ></a>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <a href="index.html" class="logo"><img src="images/starcoin.png" width="225px" /></a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <div class="dropdown">
                    <button class="dropbtn"><a href="discovery.html">Discovery</a>
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="roadmap.html">Roadmap</a>
                    </div>
                  </div> 
              <li><a href="developer.html">Developers</a></li>
              <li><a href="individual.html">Individuals</a></li>
              <li><a href="community.html">Community</a></li>
              <li><a href="ecosystem.html">Ecosystem</a></li>
            </ul>
          </header>
        <div class="page-wrapper">
            <div id="banner" class="banner margin-10">
                <div class="banner-title top" data-aos="fade-up">
                    <p class="blue-text mobile-blue-center">Starcoin Roadmap</p>
                    <h2>Redifine value<br>
                        The Value of a<br>
                        Decentralized World
                    </h2>
                    
    
                </div>
            </div>
            <div class="flex-box glow-c margin-10">
                <div><img src="images/l-arrow.png" height="50px" /></div>
                <div>
                    <h2>STARS GLOW</h2>
                    <h3>So You Can Find<br>
                        Your Value</h3>
                </div>
                <div><img src="images/r-arrow.png" height="50px" /></div>
               

            </div>
            <div class="single-image margin-10">
                <img src="images/down-arrow.png" width="100px"/>

            </div>
            <div class="fourth-section col-50-r">
                <div>
                    <p class="green-num" style="text-align:left">01</p>
                    <h2>SEEING<br>
                        LIGHT
                    </h2>
                    <p>
                        Small but bright enough to be discovered.
                        We have a humble beginning in the metaverse, existing for a mutual goal. Each individual in the blockchain ecosystem is a scattered star in the universe. We burn to be seen. Each day, as we are seen by more, so is our value. While chasing the vision of mutual growth in values, we hope everyone to find values in themselves and in life.
                    </p>
                </div>
                
            
            </div>
            <div class="flex-box timeline">
                <div class="box">
                    <h3>
                        OUR <br>
                        INITIAL <br>
                        STAGE
                    </h3>
                </div>
                <div class="box col-70">
                    <div class="history-tl-container">
                        <ul class="tl">
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                End Of 2018
                            </div>
                            <div class="item-title">Starcoin first white paper, build a scalable blockchain</div>
        
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                June 18, 2019
                            </div>
                            <div class="item-title">Facebook Libra formally announced</div>
                            
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Q4, 2019
                            </div>
                            <div class="item-title">Starcoin L1 adopted Move</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Apr 9, 2020
                            </div>
                            <div class="item-title">Starcoin v0.1 released</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Mar 27, 2021
                            </div>
                            <div class="item-title">Starcoin v1.0.0.beta released</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                May 18, 2021
                            </div>
                            <div class="item-title">Starcoin mainnet launch</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                June 24, 2021
                            </div>
                            <div class="item-title">First Move Dapp launched, the on-chain governance DAO</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Sep 2021
                            </div>
                            <div class="item-title">Starcoin NFT spec released, first NFT marketplace Cyberrare online</div>
                          
                          </li>
                      
                        </ul>
                      
                      </div>
                

                    
                </div>

            </div>
            <div class="flex-box">
                <div class="box ghost">

                </div>
                <div class="box">
                    <div class="fourth-section col-50-right">
                        <div>
                            <p class="green-num" style="text-align:left">02</p>
                            <h2>CHASING<br>
                                LIGHT
                            </h2>
                            <p>
                                Small but brighter because of value increase. As values accumulate over time, more and more users are joining Starcoin to become one of a multitude of stars. For the same goals, values, and beliefs, we come together to chase light, to find in ourselves the values and the light.
                            </p>
                        </div>
                        
                    
                    </div>

                </div>

            </div>
            <div class="flex-box timeline">
                <div class="box">
                    <h3>
                        ROADMAP<br>
                        IN 2022
                    </h3>
                </div>
                <div class="box col-70">
                    <div class="history-tl-container">
                        <ul class="tl">
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Xxx 01, 2022
                            </div>
                            <div class="item-title">Move developer ecosystem L2 rollups</div>
        
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Xxx 01, 2022
                            </div>
                            <div class="item-title">More DeFi protocols Move/EVM interoperability</div>
                            
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                Xxx 01, 2022
                            </div>
                            <div class="item-title">Lorem ipsum dolor sit amet consectetuer </div>
                          
                          </li>
                      
                        </ul>
                      
                      </div>
                

                    
                </div>

            </div>

            <div class="single-image margin-10">
                <img src="images/down-arrow.png" width="100px"/>

            </div>
            <div class="fourth-section col-50-r">
                <div>
                    <p class="green-num" style="text-align:left">03</p>
                    <h2>BECOMING<br>
                        LIGHT
                    </h2>
                    <p>
                        When a multitude of stars shine together brightly enough, each of us becomes a beam of light in the community with shared values. Starcoin has become the ecosystem that holds a pool of starlight. Become the light, and let everyone in the community be our light.
                    </p>
                </div>
                
            
            </div>
            <div class="flex-box timeline">
                <div class="box">
                    <h3>
                        ROADMAP<br>
                        IN 2023
                    </h3>
                </div>
                <div class="box col-70">
                    <div class="history-tl-container">
                        <ul class="tl">
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="timestamp">
                                  Xxx 01, 2022
                              </div>
                              <div class="item-title">Move developer ecosystem L2 rollups</div>
          
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="timestamp">
                                  Xxx 01, 2022
                              </div>
                              <div class="item-title">More DeFi protocols Move/EVM interoperability</div>
                              
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="timestamp">
                                  Xxx 01, 2022
                              </div>
                              <div class="item-title">Lorem ipsum dolor sit amet consectetuer </div>
                            
                            </li>
                        
                          </ul>
                      
                      </div>
                

                    
                </div>

            </div>
            <div class="flex-box">
                <div class="box ghost">

                </div>
                <div class="box">
                    <div class="fourth-section col-50-right">
                        <div>
                            <p class="green-num" style="text-align:left">04</p>
                            <h2>GIVING<br>
                                LIGHT
                            </h2>
                            <p>
                                Small but always shining. When users become the starlight on the chain, Starcoin as a community will become the light and the ecosystem that holds a pool of starlight. Let everyone in the community become our light. Let us shine spontaneously and attract more light.
                            </p>
                        </div>
                        
                    
                    </div>

                </div>

            </div>
            <div class="flex-box timeline">
                <div class="box">
                    <h3>
                        ROADMAP<br>
                        IN 2023
                    </h3>
                </div>
                <div class="box col-70">
                    <div class="history-tl-container">
                        <ul class="tl">
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="timestamp">
                                  Xxx 01, 2022
                              </div>
                              <div class="item-title">Move developer ecosystem L2 rollups</div>
          
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="timestamp">
                                  Xxx 01, 2022
                              </div>
                              <div class="item-title">More DeFi protocols Move/EVM interoperability</div>
                              
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="timestamp">
                                  Xxx 01, 2022
                              </div>
                              <div class="item-title">Lorem ipsum dolor sit amet consectetuer </div>
                            
                            </li>
                        
                          </ul>
                      
                      </div>
                

                    
                </div>

            </div>
            <div class="single-image margin-10">
                <img src="images/down-arrow.png" width="100px"/>

            </div>
            <div class="growth-main margin-10">
                <p>
                    Value Empowerment (Give light to the individuals), <br>
                    Recreate value in the new age, redefine value,<br>
                    and realize our vision of
                </p>
                <div class="flex-box-icon growth">
                    <img src="images/l-arrow.png" height="50px" />
                    
                        
                        <h2> MUTUAL GROWTH<br>
                            IN VALUES </h2>
        
                    
                    <img src="images/r-arrow.png" height="50px" />
                    
    
                </div>
            </div>
           
            
        </div>
        

        <footer class="new_footer_area bg_color">
            <div class="new_footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">DISCOVERY</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">What is Starcoin?</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Roadmap</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">DEVELOPERS</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Building</a></li>
                                    <li><a href="#">Miners</a></li>
                                    <li><a href="#">Validators</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">INDIVIDUALS</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Starmask</a></li>
                                    <li><a href="#">Node Mining</a></li>
                                    <li><a href="#">Node Command</a></li>
                                    <li><a href="#">STC</a></li>
                                    <li><a href="#">Token</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">COMMUNITY</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Join Us</a></li>
                                    <li><a href="#">DAO</a></li>
                                    <li><a href="#">Grant</a></li>
                                    <li><a href="#">Social Media</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">ECOSYSTEM</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Mining Pool</a></li>
                                    <li><a href="#">Wallet</a></li>
                                    <li><a href="#">Exchange</a></li>
                                    <li><a href="#">Bridge</a></li>
                                    <li><a href="#">Web 3.0 Protocols</a></li>
                                    <li><a href="#">NFT Marketplace</a></li>
                                    <li><a href="#">Gaming</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            
                                <div class="f_social_icon">
                                    <a href="#" class="fab fa-twitter"></a>
                                    <a href="#" class="fab fa-telegram"></a>
                                    <a href="#" class="fab fa-discord"></a>
                                    <a href="#" class="fab"><img src="images/medium-w.png" width="25px"/ ></a>
                                </div>
                            </div>
                        </div>
                        <div class="copyright flex-box-icon top">
                            <img src="images/starcoin.png" height="50px" />
                            <p>© 2022 Starcoin.org. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            
            </div>
           
        </footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 200,
        duration: 1000
    });
</script>
        
      
    </body>
</html>