---
title: 路线图
---

<link rel="stylesheet" type="text/css" href="/css/style_cn.css" />
<style>
            body{
                background-image: url('/images/new/roadmap-bg.png');
                background-repeat: no-repeat;
                background-size: cover, contain;
            }
        </style>
<script>
            (function(d) {
              var config = {
                kitId: 'cdp5jlc',
                scriptTimeout: 3000,
                async: true
              },
              h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
          </script>
<div class="page-wrapper">
            <div id="banner" class="banner banner-10 zh_banner">
                <div class="banner-title top" data-aos="fade-up">
                    <p class="blue-text mobile-blue-center">Starcoin 路线图</p>
                    <h2>重新定义价值<br>
                        <span class="header-small">去中心化世界的价值</span>
                        
                    </h2>
                    
    
                </div>
            </div>
            <div class="flex-box glow-c margin-10">
                
                <div>
                    <h2>星星发光</h2>
                    <h3>是为了每个人找到<br>
                        自己的价值</h3>
                </div>
               
               

            </div>
            <div class="single-image margin-10">
                <img src="/images/new/down-arrow.png" width="100px"/>

            </div>
            <div class="flex-box">
                <div class="box r-1 margin-5">
                    <img src="/images/new/r-1.png" width="600"/>

                </div>
                <div class="box">
                    <div class="fourth-section col-50-right margin-5">
                        <div>
                            <p class="phase" style="text-align:left;">阶段</p>
                            <p class="green-num" style="text-align:left">01</p>
                            <h2>发现光
                            </h2>
                            <p class="margin-2">
                                渺小但是足够闪耀到被发现，这是我们因为共同的目标而存在的开始，区块链生态中每个人都是散落宇宙的星星，我们渴望被发现，人们也逐渐开始发现我们，同时也逐渐发现我们的价值，就如同我们价值共生的愿景一样，希望每个人都能找到自己的价值，在生活中发现光。
                            </p>
                        </div>
                        
                    
                    </div>

                </div>

            </div>
            <div class="flex-box timeline timeline-l">
                <div class="box">
                    <h3>
                        我们的<br>
                        起点
                    </h3>
                </div>
                <div class="box col-70">
                    <div class="history-tl-container">
                        <ul class="tl">
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2018年底
                            </div>
                            <div class="item-title">Starcoin发布了首份白皮书，提出构建可扩展区块链愿景</div>
        
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2019年6月
                            </div>
                            <div class="item-title">Move 诞生（Facebook 正式发布 Libra ）</div>
                            
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2019第4季度
                            </div>
                            <div class="item-title">Starcoin L1 决定采用 Move 作为智能合约语言及虚拟机</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2020年4月9日
                            </div>
                            <div class="item-title">Starcoin v0.1 发布</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2021年3月27日
                            </div>
                            <div class="item-title">Starcoin v1.0.0 beta 发布</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2021年5月18日
                            </div>
                            <div class="item-title">Starcoin 主网上线</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2021年6月24日
                            </div>
                            <div class="item-title">第一个 Move Dapp上线，实现链上治理 DAO</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2021年9月
                            </div>
                            <div class="item-title">Starcoin NFT 规范发布，第一个 NFT 市场 Cyber​​rare 上线</div>
                          
                          </li>
                      
                        </ul>
                      
                      </div>
                

                    
                </div>

            </div>
            <div class="flex-box">
                <div class="box r-1 margin-5">
                    <img src="/images/new/r-2.png" width="600"/>

                </div>
                <div class="box">
                    <div class="fourth-section col-50-right margin-5">
                        <div>
                            <p class="phase" style="text-align:left;">阶段</p>
                            <p class="green-num" style="text-align:left">02</p>
                            <h2>追随光
                            </h2>
                            <p class="margin-2">
                                虽然渺小但因为价值增长而更加的闪耀，随著时间过去，价值的沉淀，越来越多的人成为starcoin 的用户，成为 starcoin 生态里的的众多点点闪耀的星光，我们有共同的目标和价值信仰，所以我们会吸引更多人同我们的人们加入，一起追随光的痕迹，也追随的过程中找到自己的价值发现自己的光。
                            </p>
                        </div>
                        
                    
                    </div>

                </div>

            </div>
            <div class="flex-box timeline timeline-l">
                <div class="box">
                    <h3>
                        <span class="starcoin">2022</span><br>
                        路线图
                    </h3>
                </div>
                <div class="box col-70">
                    <div class="history-tl-container">
                        <ul class="tl">
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2022年1月
                            </div>
                            <div class="item-title">Starcoin 上第一个 Play 2 Earn 游戏 Arm Wrest War (AWW) 上线</div>
        
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2022年3月
                            </div>
                            <div class="item-title">Starcoin 生态项目 FAI 上线-由 Bfly Finance 创建的算法稳定币协议</div>
                            
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                               
                            </div>
                            <div class="item-title">

                                Starcoin 生态项目 通用去中心化交易所 Starswap 在主网启动
                                
                                </div>
                            
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                               
                            </div>
                            <div class="item-title">

                                FAI 向所有用户开放清算接口
                                
                                </div>
                            
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2022年4月
                            </div>
                            <div class="item-title">上线跨链桥，连接 Starcoin 和以太坊</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                
                            </div>
                            <div class="item-title">推出 Bfly，一种算法货币 DeFi 2.0 协议</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2022年5月
                            </div>
                            <div class="item-title">FAI协议支持多种代币作为抵押品</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2022年7月
                            </div>
                            <div class="item-title">第一个借贷协议fly上线主网络</div>
                          
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2022年9月
                            </div>
                            <div class="item-title">L2网络首次在Starcoin测试网络上线</div>
                          
                          </li>
                          
                      
                        </ul>
                      
                      </div>
                

                    
                </div>

            </div>

            <div class="single-image margin-10">
                <img src="/images/new/down-arrow.png" width="100px"/>

            </div>
            <div class="flex-box">
                <div class="box r-1">
                    <img src="/images/new/r-3.png" width="600"/>

                </div>
                <div class="box">
                    <div class="fourth-section col-50-right margin-5">
                        <div>
                            <p class="phase" style="text-align:left;">阶段</p>
                            <p class="green-num" style="text-align:left">03</p>
                            <h2>成为光
                            </h2>
                            <p class="margin-2">
                                当众多的星光逐渐的形成了足够耀眼的光区，有着共同价值信仰的我们成为社区的一点星光，starcoin 也会成为汇聚众多星光的生态，成为光，也让社区的每一个人成为我们的光。
                            </p>
                        </div>
                        
                    
                    </div>

                </div>

            </div>
            <div class="flex-box timeline">
                <div class="box col-30">
                </div>
                <div class="box">
                    <h4 class="text-r margin-l-2">
                        <span class="starcoin">2023</span><br>
                        路线图
                    </h4>
                </div>
                <div class="box margin-half margin-l-5 margin-l-2">
                    <p>
                        互操作性
                    </p>
                </div>
                <div class="box margin-half margin-l-2">
                    <p>
                        Starcoin 网络的<br>所有层级之间
                    </p>
                </div>
                <div class="box margin-half" style="margin-left: 2em;">
                    <p>
                        Web 3.0 的<br>重要价值
                    </p>
                </div>
             

            </div>
            <div class="single-image margin-10">
                <img src="/images/new/down-arrow.png" width="100px"/>

            </div>
            <div class="flex-box">
                <div class="box margin-5 r-1">
                    <img src="/images/new/r-4.png" width="600"/>

                </div>
                <div class="box">
                    <div class="fourth-section col-50-right margin-5">
                        <div>
                            <p class="phase" style="text-align:left;">阶段</p>
                            <p class="green-num" style="text-align:left">04</p>
                            <h2>发散光
                            </h2>
                            <p class="margin-2">
                                虽然渺小但足够闪耀，成为社区的一点星光，当很多的用户成为链上的星光，starcoin也会成为汇聚众多星光的生态，成为光，也让社区的每一个人成为我们的光，自发的发散光，吸引汇聚更多的光。
                            </p>
                        </div>
                        
                    
                    </div>

                </div>

            </div>
            <div class="flex-box timeline">
                <div class="box col-30">
                </div>
                <div class="box">
                    <h4 class="text-r margin-l-2">
                        <span class="starcoin">2024</span><br>
                        路线图
                    </h4>
                </div>
                <div class="box margin-half margin-l-5 margin-l-2">
                    <p>
                        Web 3.0网络<br>基础设施
                    </p>
                </div>
                <div class="box margin-half margin-l-2">
                    <p>
                        无限可扩展
                    </p>
                </div>
                <div class="box margin-half" style="margin-left: 2em;">
                    <p>
                        互联网原生<br>
                        数字经济
                    </p>
                </div>
             

            </div>
            <div class="single-image margin-10">
                <img src="/images/new/down-arrow.png" width="100px"/>

            </div>
            <div class="growth-main margin-10">
               
                <div class="flex-box-icon growth">
                    
                    
                        
                        <h2> <img src="/images/new/up-1.png" height="15px" /> 未来之路，已在脚下 <img src="/images/new/down-1.png" height="15px" /></h2>
        
                    
                   
                    
    
                </div>
            </div>
           
            
        </div>
<script>
  AOS.init({
    offset: 200,
    duration: 1000,
  });
</script>
