---
title: Roadmap
---

<link rel="stylesheet" type="text/css" href="/css/base-page-style.css" />
<link rel="stylesheet" type="text/css" href="/css/media-query.css" />
<div class="page-wrapper">
  <div id="banner" class="banner margin-10">
    <div class="banner-title top" data-aos="fade-up">
      <p class="blue-text mobile-blue-center">Starcoin Roadmap</p>
      <h2>
        <span style="font-size: 32px; line-height: 2px"
          >The Value of a Decentralized World</span
        >
      </h2>
    </div>
  </div>
  <div class="flex-box glow-c margin-10">
    <div><img src="/images/new/l-arrow.png" height="45px" /></div>
    <div>
      <h2>STARS GLOW</h2>
      <h3>
        So everyone could Find<br />
        their own Value
      </h3>
    </div>
    <div><img src="/images/new/r-arrow.png" height="45px" /></div>
  </div>
  <div class="single-image margin-10">
    <img src="/images/new/down-arrow.png" width="100px" />
  </div>
  <div class="fourth-section col-50-r">
    <div class="flex-box">
      <div class="box r-1 margin-3">
        <img src="/images/new/r-1.png" width="400" />
      </div>
      <div class="box">
        <div class="fourth-section col-50-right">
          <div>
            <p class="phase" style="text-align: left">PHASE</p>
            <p class="green-num" style="text-align: left">01</p>
            <h2>
              DISCOVERING<br />
              LIGHT
            </h2>
            <p>
              Small but shining enough to be discovered, our existence is
              beginning because of our common goal. Everyone in the blockchain
              ecology is a star scattered in the universe. We are eager to be
              discovered, and people gradually start to realize us and discover
              our value. Like our vision of value symbiosis, we hope everyone
              can find their value and discover light in their lives.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box timeline timeline-l">
      <div class="box">
        <h3>
          OUR <br />
          INITIAL <br />
          STAGE
        </h3>
      </div>
      <div class="box col-70">
        <div class="history-tl-container">
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">End Of 2018</div>
              <div class="item-title">
                Starcoin first white paper, build a scalable blockchain
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">June 18, 2019</div>
              <div class="item-title">Facebook Libra formally announced</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Q4, 2019</div>
              <div class="item-title">Starcoin L1 adopted Move</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Apr 9, 2020</div>
              <div class="item-title">Starcoin v0.1 released</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Mar 27, 2021</div>
              <div class="item-title">Starcoin v1.0.0.beta released</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">May 18, 2021</div>
              <div class="item-title">Starcoin mainnet launch</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">June 24, 2021</div>
              <div class="item-title">
                First Move Dapp launched, the on-chain governance DAO
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Sep 2021</div>
              <div class="item-title">
                Starcoin NFT spec released, first NFT marketplace Cyberrare
                online
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-box">
      <div class="box r-1 margin-5">
        <img src="/images/new/r-2.png" width="600" />
      </div>
      <div class="box">
        <div class="fourth-section col-50-right">
          <div>
            <p class="phase" style="text-align: left">PHASE</p>
            <p class="green-num" style="text-align: left">02</p>
            <h2>
              Following<br />
              the Light
            </h2>
            <p>
              As time goes by and the value settles, more and more people become
              users of Starcoin and become the many points of shining starlight
              in the Starcoin ecology. We have common goals and value beliefs,
              so we will attract more people to join us and follow the traces of
              light together. To join the process of finding their own values in
              finding their own light.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box timeline timeline-l">
      <div class="box">
        <h3>
          ROADMAP<br />
          IN 2022
        </h3>
      </div>
      <div class="box col-70">
        <div class="history-tl-container">
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Jan 2022</div>
              <div class="item-title">
                A Play 2 Earn game, Arm Wrest War (AWW) online
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Mar 2022</div>
              <div class="item-title">
                FAI goes online. FAI is a stablecoin protocol created by Bfly
                Finance
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp"></div>
              <div class="item-title">
                Starswap, a general-purpose DEX on Starcoin, launched on the
                mainnet
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp"></div>
              <div class="item-title">Fai Liquidation open for public</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Apr 2022</div>
              <div class="item-title">
                First cross-chain Bridge, connecting Starcoin and Ethereum
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp"></div>
              <div class="item-title">
                Launch Bfly, an algorithmic currency Protocol
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">May 2022</div>
              <div class="item-title">
                FAI protocol support more tokens as collateral
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">May 2022</div>
              <div class="item-title">
                FAI protocol support more tokens as collateral
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Sep 2022</div>
              <div class="item-title">First L2 network on Starcoin testnet</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Jul 2022</div>
              <div class="item-title">
                First Lending Protocol, fly on mainnet
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">Sep 2022</div>
              <div class="item-title">First L2 network on Starcoin testnet</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="single-image margin-10">
      <img src="/images/new/down-arrow.png" width="100px" />
    </div>
    <div class="flex-box">
      <div class="box r-1">
        <img src="/images/new/r-3.png" width="700" />
      </div>
      <div class="box">
        <div class="fourth-section col-50-right">
          <div>
            <p class="phase" style="text-align: left">PHASE</p>
            <p class="green-num" style="text-align: left">03</p>
            <h2>
              Be the<br />
              Light
            </h2>
            <p>
              When many starlights gradually form a dazzling enough light area,
              we who share common values and beliefs become a little starlight
              of the community. Starcoin will also become an ecology that
              attracts many starlights, inspiring everyone in the community to
              become their light.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box timeline">
      <div class="box col-30">
        <h3 class="text-r margin-l-2">
          ROADMAP<br />
          IN 2023
        </h3>
      </div>

      <div class="box margin-half margin-l-5 margin-l-2">
        <p>Interoperability</p>
      </div>
      <div class="box margin-half margin-l-2">
        <p>Between all layers <br />in Starcoin Network</p>
      </div>
      <div class="box margin-half" style="margin-left: 2em">
        <p>
          Important Value<br />
          in Web 3.0
        </p>
      </div>
    </div>
  </div>
  <div class="flex-box">
    <div class="box margin-5 r-1">
      <img src="/images/new/r-4.png" width="700" />
    </div>
    <div class="box">
      <div class="fourth-section col-50-right">
        <div>
          <p class="green-num" style="text-align: left">04</p>
          <h2>
            SPREADING<br />
            LIGHT
          </h2>
          <p>
            While Small but shining enough to become a piece of starlight in the
            decentralized world. When many people become the starlight on the
            chain, Starcoin will also be visible because of the ecosystem that
            attracts many starlights, each person in the community has their own
            unique value, and the value is empowered to spread light again and
            attract more people who want to redefine value in the decentralized
            world.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-box timeline">
    <div class="box col-30"></div>
    <div class="box">
      <h3 class="text-r margin-l-2">
        ROADMAP<br />
        IN 2024
      </h3>
    </div>
    <div class="box margin-half margin-l-5 margin-l-2">
      <p>
        Infrastructure<br />
        of Web 3.0
      </p>
    </div>
    <div class="box margin-half margin-l-2">
      <p>
        Infinity<br />
        Scalablity
      </p>
    </div>
    <div class="box margin-half" style="margin-left: 2em">
      <p>
        Internet Native<br />
        Digital Economy
      </p>
    </div>
  </div>
  <div class="single-image margin-10">
    <img src="/images/new/down-arrow.png" width="100px" />
  </div>
  <div class="growth-main margin-10">
    <p>
      Value Empowerment (Give light to the individuals), Recreate value in the
      new age, redefine value, and realize our vision of
    </p>
    <div class="flex-box-icon growth">
      <img src="/images/new/l-arrow.png" height="50px" />

      <h2>
        MUTUAL GROWTH<br />
        IN VALUES
      </h2>

      <img src="/images/new/r-arrow.png" height="50px" />
    </div>
  </div>
</div>
<script>
  AOS.init({
    offset: 200,
    duration: 1000,
  });
</script>
