<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir={{ .Site.Language.LanguageDirection }}>

<head>
    {{ partial "docs/html-head" . }}
    {{ partial "docs/inject/head" . }}
    {{ partial "base-page-inject/head" . }}
</head>

<body>
    {{ template "nav" . }}

    {{ template "main" . }}

    {{ template "footer" . }}

</body>

</html>
<script>
	$(document).ready(function () {
        $('html, body').animate({
                scrollTop: 0
            }, 1)

		let anchor = ''

        const href = window.location.href;
        if (href.indexOf('#')) {
            anchor = href.substring(href.indexOf('#') + 1);
        }
        const anchorElement = document.getElementById(anchor);
        const anchorTop = $(anchorElement).offset().top;
        $('html, body').animate({
            scrollTop: anchorTop - 150
        }, 20)
	})
</script>

{{ define "main" }}
{{- .Content -}}
{{ end }}

{{ define "nav" }}
{{ partial "docs/nav" . }}
{{ end }}

{{ define "footer" }}
{{ partial "docs/footer" . }}
{{ end }}